/*Gets rid of focus on input element (blue outline in browsers)*/
#new_sentence:focus {outline: none; }

#brainstorm_title {
	margin-top: 2%;
}
/*Enter new sentence input box*/
#new_sentence {
	position: absolute;
	margin-top: 20%;
	margin-left: 30%;
	font-size: 30px;
	max-width: 40%;
	min-width: 30%;
	align-items: center;
}

#new_sentence_entry {
	margin-top: 8.4%;
}

#noun_item:hover {
	background-color: lavenderblush;
	cursor: pointer;
}

#newsprint_background {
	list-style-type: none;
}

